@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");
*{
    margin: 0;
    padding: 0;
}
.azeret-mono-normal {
  font-family: "Azeret Mono", serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

.resume-btn,.banner-btn,.dev-btn{
    padding: 20px;
    background-color: whitesmoke;
    border: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 20px;
    border: 2px solid aquamarine;
}
.styling-a{
    color: aqua;
}
.banner-container{
    margin: 40px 2.5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./assets/Hero-bg.png);
    padding: 80px;
    gap: 30px;
    border: 1px solid grey;
}

.banner-btn{
    color: whitesmoke;
    background-color: black;
}

.dev-container{
    width: 60%;
    margin: 0 auto;
}

.info{
    text-align: center;
}

.image-description{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 40px 20px;
}

.description{
    text-align: left;
}

.dev-btn{
    padding: 10px 25px;
}

.description p{
    margin: 25px 0;
}